/* sticky menu  */

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: smothScroll 1s forwards;
  background: var(--black);
  z-index: 999;
}

@keyframes smothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.is-sticky .navbar .navbar-brand a,
.is-sticky .navbar .offcanvas-body a {
  color: var(--white) !important;
}

.is-sticky .toggle_btn {
  color: var(--primaryClr) !important;
}

header {
  position: absolute;
  top: 0;
  z-index: 999;
  padding: 12px 0px;
  width: 100%;
}

header .nav-link{
    color: var(--black);
    font-style: italic;
    font-weight: 700;
}

header .under-animation {
  color: var(--black);
  position: relative;
}

.under-animation:after {
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  position: absolute;
  left: 7px;
  bottom: 0;
  background-color: var(--primaryClr);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.under-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header .navbar{
    padding: 0rem 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

header .navbar .navbar-brand a {
  font-size: 22px;
  color: var(--white);
  line-height: 150%;
  font-family: var(--fontFamily1);
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

header .navbar .offcanvas-body a {
  font-size: var(--bodyText);
  color: var(--white) !important;
  line-height: 150%;
  font-family: var(--fontFamily);
  font-weight: bold;
  text-transform: uppercase;
}

header .navbar .offcanvas-body a:hover {
  color: var(--primaryClr) !important;
}

header .navbar .offcanvas-body .dropdown-menu {
  min-width: 12rem;
}

header .navbar .offcanvas-body .dropdown-menu .dropdown-item {
  color: var(--black) !important;
}

.header-section .navbar .dropdown-menu .dropdown-item::after {
  content: none !important;
  background: none !important;
}

@media only screen and (max-width: 991px) {
  header .navbar .toggle_btn {
    font-size: var(--bodyText);
    color: var(--white);
    padding: 7px 10px;
  }

  .offcanvas-header {
    border: 1px solid gainsboro;
  }

  .offcanvas-header .logo {
    font-size: 26px;
    color: var(--black) !important;
    font-family: var(--fontFamily1);
    font-weight: bold;
    text-decoration: none;
  }

  .offcanvas-body .nav-link {
    padding: 12px 0px;
    color: var(--black);
  }

  .offcanvas-body .dropdown-item {
    padding: 12px 10px;
    color: var(--black);
  }
}

.logo {
  width: 8rem;
  height: 6rem;
  border-radius: 1rem;
}
